html {
    padding-top: 25px;
    background-image: url("images/handandkeyboards.jpg");
}

body {
    width: 1000px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    background-color: #E1EDEB;
}
.center {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    width: 30%;
    border: 1px solid #73AD21;
    padding: 10px 10px 9px 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,.5);
    background-color: #d4edeb;
}
.redfont {
    color: darkred
}
#caption
{
    color: cornflowerblue;
}
h1 {color:darkblue;}
h2 {color:cadetblue}
h4 {color:darkolivegreen}
strong {color:green}
th {color:purple}
td {color:darkorchid}
p {color:mediumaquamarine;}
li {color:darkred}
caption {color:darkred}

#everyOtherRow tbody tr:nth-child(even) {
    background-color: #DFEBC3;
}
#everyOtherRow tbody tr:nth-child(odd) {
    background-color: #eb8492;
}
#everyOtherRow thead tr {
    background-color: #CBBBD0;
}